body{
	font-family: 'Yusei Magic', sans-serif !important;
	background-color: white  !important; 
	color: /*#7D00FA  #006CFA */ #24A2BE   !important;
/*	background-image: url(imgs/fondo.jpg);
	
    filter: drop-shadow(2px 4px 6px white);*/
}

.fotito{
	margin: 0.3em !important; 
	width: 45%;
	/*height: 100% !important;
	 filter: drop-shadow(2px 4px 6px black);*/
	border-radius: 50%;
}

h1{
	padding: 5px;
	text-align: center;
	color: #26C6EA !important;
}

footer{
	background-color: white  ;
		color: #055A6D;
}
